div {
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 5px;
  background: #de1;
  border-radius: 5px;
}

p {
  text-align: center;
  font-size: 32px;
  font-style: italic
}

h3 {
  text-align:right;
  font-size: 16px;
  margin-right: 10px;
}
